@tailwind base;
@tailwind components;
@tailwind utilities;

/* FART (Flash of inAccurate coloR Theme) */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-black text-white;
  }
}

.math {
  /*
   * KaTeX equations should scroll horizontally if not enough room is available
   * this prevents overflow on mobile screens
   */
  @apply overflow-x-auto;
}

.terminalContainer {
  /*
   * Style override for https://github.com/rohanchandra/react-terminal-component/
   *
   * By default, the terminal always has a scrollbar
   * In this site, we always expand the terminal container so that it has no overflow
   * Thus, we can safely disable the scrollbar
   *
   * Note, we need !important here -- the terminal container's styling comes
   * primarily from a StyledComponent, and we can't override those styles since they're
   * scoped. Thus, we set this style on .terminalContainer
   */
  @apply overflow-y-auto !important;
}

.abcjsContainer {
  /*
   * Style override for remark-abcjs
   */

  @apply mx-auto w-max max-w-full overflow-x-auto !important;
}

.font-display strong {
  font-weight: 700;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

@layer utilities {
  .border-spacing-0 {
    border-spacing: 0;
  }
}
