@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility border-spacing-0 {
  border-spacing: 0;
}

@layer utilities {
  /* FART (Flash of inAccurate coloR Theme) */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-black text-white;
    }
  }

  /*
 * overscroll behavior fix, thanks luke!
 * https://discord.com/channels/1044310532745871402/1226549941233782784/1320847842142715934
 */
  body:before {
    content: '';
    background: linear-gradient(
      var(--color-panpink) 0%,
      var(--color-panpink) 50%,
      var(--color-panblue) 50%,
      var(--color-panblue) 100%
    );
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .math {
    /*
   * KaTeX equations should scroll horizontally if not enough room is available
   * this prevents overflow on mobile screens
   */
    @apply overflow-x-auto;
  }

  .terminalContainer {
    /*
   * Style override for https://github.com/rohanchandra/react-terminal-component/
   *
   * By default, the terminal always has a scrollbar
   * In this site, we always expand the terminal container so that it has no overflow
   * Thus, we can safely disable the scrollbar
   *
   * Note, we need !important here -- the terminal container's styling comes
   * primarily from a StyledComponent, and we can't override those styles since they're
   * scoped. Thus, we set this style on .terminalContainer
   */
    @apply overflow-y-auto!;
  }

  .abcjsContainer {
    /*
   * Style override for remark-abcjs
   */

    @apply mx-auto! w-max! max-w-full! overflow-x-auto!;
  }

  .font-display strong {
    font-weight: 700;
  }

  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }
}
